html,
body {
  color: #666;
  font-family: Avenir, Kefa, monospace, Courier, Courier New, Menlo, Mono;
}

.mui-bar {
  background-color: #FF6666;
}

.mui-bar .mui-title {
  color: #FFF;
}

.mui-content-padded {
  margin: 8px 10px;
}

.mui-btn-primary {
  border: 1px solid #FF6666;
  background-color: #FF6666;
}

.mui-btn-block.mui-icon-extra,
.mui-btn-block.mui-icon {
  font-size: 18px;
  line-height: 1;
}

.mui-btn-primary.mui-active:enabled,
.mui-btn-primary:enabled:active {
  color: #fff;
  border: 1px solid #FF8888;
  background-color: #FF8888
}

.mui-btn.mui-active:enabled,
.mui-btn:enabled:active {
  color: #fff;
  border: 1px solid #EEE;
  background-color: #EEE;
}

#weixin-tip {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  z-index: 100;
}

#weixin-tip p {
  text-align: center;
  margin-top: 10%;
  padding: 0 5%;
  position: relative;
}

#weixin-tip p img {
  width: 100%;
}

#weixin-tip .close {
  position: absolute;
  width: 50px;
  top: 0;
  left: 5%;
}
