@import './variables.scss';
@import './mixin.scss';

html, body,#app  {
  color: $color;
  font-family: Avenir, Kefa, monospace, Courier, Courier New, Menlo, Mono;
  font-size: $font-md;
  background: $bg-color;
}

.app-container {
  padding-bottom: 2.5rem;
}

@each $size in $sizes {
  $i: index($sizes, $size);
  .#{$size} {
    font-size: nth($font-sizes, $i) !important;
  }
}

@for $i from 1 through 20{
  .m-#{$i} {margin: 1px*$i;}
  .m-t-#{$i} {margin: 1px*$i 0 0 0;}
  .m-r-#{$i} {margin: 0 1px*$i 0 0;}
  .m-b-#{$i} {margin: 0 0 1px*$i 0;}
  .m-l-#{$i} {margin: 0 0 0 1px*$i;}
  .m-tb-#{$i} {margin: 1px*$i 0;}
  .m-lr-#{$i} {margin: 0 1px*$i;}
}

@for $i from 1 through 20{
  .m_#{$i} {margin: .1rem*$i;}
  .m-t_#{$i} {margin: .1rem*$i 0 0 0;}
  .m-r_#{$i} {margin: 0 .1rem*$i 0 0;}
  .m-b_#{$i} {margin: 0 0 .1rem*$i 0;}
  .m-l_#{$i} {margin: 0 0 0 .1rem*$i;}
  .m-tb_#{$i} {margin: .1rem*$i 0;}
  .m-lr_#{$i} {margin: 0 .1rem*$i;}
}

@for $i from 1 through 10{
  .w-#{$i} {width: 1rem*$i;}
}

@for $i from 1 through 20{
  .p_#{$i} {padding: .1rem*$i;}
  .p-t_#{$i} {padding: .1rem*$i 0 0 0;}
  .p-r_#{$i} {padding: 0 .1rem*$i 0 0;}
  .p-b_#{$i} {padding: 0 0 .1rem*$i 0;}
  .p-l_#{$i} {padding: 0 0 0 .1rem*$i;}
  .p-tb_#{$i} {padding: .1rem*$i 0;}
  .p-lr_#{$i} {padding: 0 .1rem*$i;}
}

.red {
  color: nth($colors, 1) !important;
}

.grey {
  color: nth($colors, 10) !important;
}

.light-grey {
  color: nth($colors, 11) !important;
}

.white{
  color: #FFF;
}

.inline {
  display: inline-block !important;
}

.bold {
  font-weight: bold !important;
}

.center{
  text-align: center !important;
}

.flex-center {
  display: flex;
  align-items: center;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #FFF;
}
