@import './variables.scss';
@import './mixin.scss';

html, body, #app {
  color: $color;
  background: $bg-color;
  font-family: Avenir, Kefa, monospace, Courier, Courier New, Menlo, Mono;
  font-size: $font-md;
}

.app-container {
  padding-bottom: 50px;
}

.lg{
  font-size: $font-lg !important;
}
.md{
  font-size: $font-md !important;
}
.sm{
  font-size: $font-sm !important;
}
.xs{
  font-size: $font-xs !important;
}
