// variables
$color: #111;
$bg-color: #f1f1f1;
$theme-color: #FF8888;

$sizes: lg md sm xs;
$font-sizes: .5rem .4rem .3rem .2rem;
$colors: #FF6666 #66FF66 #6666FF #FF8888 #88FF88 #8888FF #880000 #008800 #000088 #888888 #CCCCCC;

$font-lg: nth($font-sizes, 1);
$font-md: nth($font-sizes, 2);
$font-sm: nth($font-sizes, 3);
$font-xs: nth($font-sizes, 4);
