// variables
$color: #111;
$bg-color: #F6F6F6;
$theme-color: #F88;

$sizes: xl lg md sm xs;
$font-sizes: .5rem .36rem .28rem .18rem .16rem;
$colors: #F66 #6F6 #66F #F88 #8F8 #88F #800 #080 #008 #888 #CCC;

$font-xl: nth($font-sizes, 1);
$font-lg: nth($font-sizes, 2);
$font-md: nth($font-sizes, 3);
$font-sm: nth($font-sizes, 4);
$font-xs: nth($font-sizes, 5);
